.button {
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    vertical-align: text-top;
  }
  
  .button1 {border-radius: 2px;}
  .button2 {border-radius: 4px;}
  .button3 {border-radius: 8px;}
  .button4 {border-radius: 15px;background-color: black;}
  .button5 {border-radius: 50%;background-color: blue;}
  
  .triangle-left {
      width: 0;
      height: 0;
      border-top: 75px solid transparent;
      border-right: 100px solid #555;
      border-bottom: 75px solid transparent;
  }
  .triangle-right {
      width: 0;
      height: 0;
      border-top: 75px solid transparent;
      border-left: 100px solid #555;
      border-bottom: 75px solid transparent;
  }